body{
    background-color: black;
    color: white;
}
.border{
    border: 2px solid;
    margin: 3px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    /* color invert karne k liye  */
    filter: invert(1); 
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2c2c2c; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f6f6f; /* Hover effect */
    scrollbar-color: #4f4f4f 
}

/* For Firefox */
